/* reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./_static/fonts/Graphik-Regular-Web.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./_static/fonts/Graphik-Medium-Web.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GraphikLC";
  src: url("./_static/fonts/Graphik-Bold-Web.woff2");
  font-weight: bold;
}

body {
  font-family: "GraphikLC", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

/* common */
.button {
  display: block;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: transparent;
  width: 243px;
  padding: 13px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button__text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.lang-switcher {
  position: absolute;
  left: 656px;
  color: rgba(255, 255, 255, 0.7);
}

.lang-switcher__separator {
  padding: 0 8px;
}

.lang-switcher__lang-choice {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.18px;
}

.lang-switcher__lang-choice--active {
  color: rgba(255, 255, 255, 1);
}

.header__content, .description, .footer__content {
  width: 832px;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 379px;
  background-image: url("./_static/img/space5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.header__content {
  position: relative;
}

.vst-logo.header__item {
  margin-top: 0;
}

.header__item {
  margin-top: 32px;
}

.vst-logo {
  background: url("./_static/img/vostok-logo-docs-big.svg") no-repeat;
  width: 320px;
  height: 43px;
}

.header__text {
  font-size: 20px;
  line-height: 1.6;
}

/* body */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.description {
  display: flex;
}

.content__item {
  padding-bottom: 128px;
}

.description--type--reverse {
  flex-direction: row-reverse;
}

.description__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  color: #081e58;
}

.description__text {
  font-size: 16px;
  line-height: 1.75;
  color: #000000;
  margin-top: 24px;
}

.description--type--normal .description__half:nth-child(2) {
  padding-left: 32px;
  padding-top: 32px;
}

.description--type--reverse .description__half:nth-child(2) {
  padding-right: 32px;
  padding-top: 32px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  border-top: 2px solid #eeeeef;
  padding-top: 64px;
  padding-bottom: 200px;
  font-size: 16px;
  line-height: 1.75;
}

.footer__copyright > a {
  text-decoration: none;
  font-weight: 500;
  color: #081e58;
  border-bottom: 4px solid rgba(8, 30, 88, 0.2);
}
